extends ../shared/layout/layout.jade

block title
  | #{audience.name} For #{lead.name}

block content
  // Layout 1 (Text block with link)
  table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
    tr
      td(style='background-color: #ffffff;')
        table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
          tr
            td.spacer(height='20', style='font-size: 1px; line-height: 20px;')
          tr
            td
              table.container(width='500', align='center', cellpadding='0', cellspacing='0', border='0', style='margin: 0 auto; width: 500px;')
                // title
                tr
                  td.h2(style="font-family: 'Open Sans', Arial, sans-serif; line-height: 1.1; font-size: 30px; color: #333333; text-align: center;")
                    | New Lead 
                    span(style='color: #fd590a;') Notification
                // end title
                tr
                  td.spacer(height='10', style='font-size: 1px; line-height: 10px;')
                tr
                  td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px; text-align: center;")
                    | #{audience.name} has found you a new customer. Reach out to #{lead.name} by replying to this email or contacting them below. Act fast, customers shopping online move quick!
                tr
                  td.spacer(height='10', style='font-size: 1px; line-height: 10px;')
  // End Layout 1 (Text block with link)
  // Pattern 1
  table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
    tr
      td(style='background-color: #ffffff;')
        table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
          tr
            // image
            td.image(style='border-collapse: collapse; font-size: 0; text-align: center;')
              img(width='800', height='30', src='https://s3.amazonaws.com/leadgrabr-email-templates/images/pattern-img2.jpg', alt='', style='border: none;')
            // end image
  // End Pattern 1
  // Layout 17 (Contacts)
  table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
    tr
      td(style='background-color: #ffffff;')
        //if (gte mso 9)|(IE)
          table(align='center', cellpadding='0', cellspacing='0', border='0')
            tr
              td(width='400', valign='top', style='width: 400px;')                                
        table.m-w100.col-50(width='399', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 399px;')
          tr
            td
              table.m-w100(width='290', align='right', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 290px;')
                tr
                  td
                    table.container(width='100%', align='center', cellpadding='0', cellspacing='0', border='0', style='margin: 0 auto;')
                      tr
                        td.sp-tablet(height='60', style='font-size: 1px; line-height: 60px;')
                      tr
                        td
                          table(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
                            tr
                              td
                                table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0', style='margin: 0 auto;')
                                  tr
                                    td.line(height='1', width='100', style='font-size: 1px; line-height: 1px; background-color: #00b0cf;')
                                    td.line-g(height='1', style='font-size: 1px; line-height: 1px; background-color: #d5d5d5;')
                            tr
                              td.spacer(height='34', style='font-size: 1px; line-height: 34px;')
                      tr
                        td
                          // text content
                          table.m-w100(width='100%', align='center', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                            tr
                              td.h2(style="font-family: 'Open Sans', Arial, sans-serif; line-height: 1.1; font-size: 30px; color: #333333;")
                                | Customer 
                                span(style='color: #fd590a;') Info
                            tr
                              td.spacer(height='20', style='font-size: 1px; line-height: 20px;')
                            tr
                              td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                strong Name
                            tr
                              td
                                table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0')
                                  tr
                                    td.spacer(width='20', style='font-size: 1px; line-height: 24px;')
                                    td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                      | #{lead.name || 'None Provided'}
                            tr
                              td.spacer(height='10', style='font-size: 1px; line-height: 10px;')
                            tr
                              td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                strong Phone
                            tr
                              td
                                table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0')
                                  tr
                                    td.spacer(width='20', style='font-size: 1px; line-height: 24px;')
                                    td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                      | #{lead.phone || 'None Provided'}
                            tr
                              td.spacer(height='10', style='font-size: 1px; line-height: 10px;')
                            tr
                              td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                strong Email
                            tr
                              td
                                table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0')
                                  tr
                                    td.spacer(width='20', style='font-size: 1px; line-height: 24px;')
                                    td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                      | #{lead.email || 'None Provided'}
                            tr
                              td.spacer(height='10', style='font-size: 1px; line-height: 10px;')
                            tr
                              td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                strong Message
                            tr
                              td
                                table(width='100%', align='center', cellspacing='0', cellpadding='0', border='0')
                                  tr
                                    td.spacer(width='20', style='font-size: 1px; line-height: 24px;')
                                    td.text(style="color: #747474; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; line-height: 24px;")
                                      | #{lead.message}
                            tr
                              td.h50(height='30', style='font-size: 1px; line-height: 30px;')
                          // end text content
                      tr
                        td.spacer(height='4', style='font-size: 1px; line-height: 4px;')
                  td.h0(width='19', style='font-size: 1px; line-height: 24px; vertical-align: top;')
        //if (gte mso 9)|(IE)
          td(width='400', valign='top', style='width: 400px;')                                
        // image content
        table.m-w100.col-50(width='400', align='right', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 400px;')
          tr
            td.image(style='border-collapse: collapse; font-size: 0; text-align: center;')
              img(width='400', src="#{audience.templateResources.images.medium}", alt='', style='border: none;')
        // end image content
        //if (gte mso 9)|(IE)
  // End Layout 17 (Contacts)